:root {
    --primary: #3498db;
    --secondary: #2ecc71;
    --text-color: #333333;
    --light-background: #ced9ff;
    --dark-color: #6183ff;
    --light-color: #a2b6ff;
    --background-color: #f5f5f5;
    --border-light-color: #dadada;
}